@define-color bg        #282828;
@define-color bg0       #282828;
@define-color bg0_h     #1d2021;
@define-color bg0_s     #32302f;
@define-color bg1       #3c3836;
@define-color bg2       #504945;
@define-color bg3       #665c54;
@define-color bg4       #7c6f64;

@define-color fg        #ebdbb2;
@define-color fg0       #fbf1c7;
@define-color fg1       #ebdbb2;
@define-color fg2       #d5c4a1;
@define-color fg3       #bdae93;
@define-color fg4       #a89984;

@define-color red       #cc241d;
@define-color red2      #fb4934;
@define-color green     #98971a;
@define-color green2    #b8bb26;
@define-color yellow    #d79921;
@define-color yellow2   #fabd2f;
@define-color blue      #458588;
@define-color blue2     #83a598;
@define-color purple    #b16286;
@define-color purple2   #d3869b;
@define-color aqua      #689d6a;
@define-color aqua2     #8ec07c;
@define-color orange    #d65d0e;
@define-color orange2   #fe8019;
@define-color gray      #928374;

* {
   font-family: "JetBrainsMono Nerd Font";
   font-size: 18px;
}

/* Window */
window {
    margin: 0px;
    padding: 10px;
    border: 2px solid @orange;
    background-color: @bg;
}

/* Inner Box */
#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
}

/* Outer Box */
#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
}

/* Scroll */
#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
    background-color: @bg;
}

/* Input */
#input {
    margin: 5px 20px;
    padding: 10px;
    border: none;
    background-color: @bg0_s;
    color: @fg2;
    border-radius: 0.1em;
}

#input image {
    border: none;
    color: @orange;
}

#input * {
    outline: 4px solid @orange!important;
}

/* Text */
#text {
    margin: 5px;
    border: none;
    color: @fg;
}

#entry {
    background-color: @bg;
}

#entry arrow {
    border: none;
    color: @orange;
}

/* Selected Entry */
#entry:selected {
    border: 0.11em solid @orange;
}

#entry:selected #text {
    color: @orange;
}

#entry:drop(active) {
    background-color: @orange;
}
